/* General page styling */
body {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", Tahoma, Arial, sans-serif;
    background-color: #c0e1fa; /* light blue background */
}

/* Institute name */
h1 {
    text-align: center;
    color: #0b5394;
    margin-top: 20px;
    font-size: 32px;
}

/* Project title */
h2 {
    text-align: center;
    color: #1c6dd0;
    font-weight: normal;
    margin-bottom: 30px;
}

/* Horizontal line */
hr {
    width: 70%;
    border: 1px solid #42a1f4;
}

/* Login box */
div {
    background-color: white;
    width: 350px;
    margin: auto;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Login heading */
h3 {
    text-align: center;
    color: #063f70;
    margin-bottom: 20px;
}

/* Labels */
label {
    font-size: 14px;
    color: #0b0b0b;
}

/* Input fields */
input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

/* Button styling */
button {
    width: 100%;
    padding: 10px;
    background-color: #1656a5;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #04447c;
}

/* Password box with eye icon */
.password-box {
    position: relative;
}

.password-box input {
    width: 100%;
    padding-right: 35px;
}

.eye {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 16px;
    color: #1c6dd0;
}

.logo {
    text-align: center;
    margin-top: 20px;
}

.logo img {
    width: 80px;   /* adjust size if needed */
    height: 80px;
}